*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(233, 195, 125), white);
    padding-left: 550px;
    padding-top: 80px;
}
.main{
    border-right: 6px solid rgb(173, 164, 144);
    border-bottom: 6px solid rgb(173, 164, 144);
    background-color:  rgb(226, 191, 126);
    height: 420px;
    width: 300px;
    border-radius: 10px;
    padding-top: 50px;
    box-shadow: 3px 3px 20px  black;
    
}

.fil{
    display: flex;
    justify-content: center;
    
}
.row{
     padding: 5px; 
    gap: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 14px;
    border: none;
    
    /* margin-bottom: 10px;  */
    font-size: 18px;
    border-right: 3px solid rgb(175, 132, 52);
    border-bottom:  3px solid rgb(190, 147, 68);
    background-color:rgb(248, 244, 237) ;
    font-weight: 600;
    border-radius: 10px;
}
input[type="text"]{
    height: 50px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    
   border: none;
    border-bottom: 4px solid rgb(211, 165, 80);
   margin-right: 4px;
    border-radius: 10px;
    color: rgb(241, 136, 15);
    background-color:rgb(248, 244, 237) ;
}

button:hover{
     background-color: rgb(218, 213, 203); 
    font-size: 20px;
    border: none;
    transition: 0.2s;
}
::placeholder{
    color: rgb(233, 149, 71);
}

input[type="text"]:focus{
    outline:none ;
}


 
@media only screen and (max-width:700px){

  .page{
    height: 500px;
  }

  .main{
    position: absolute;
    left: 90px;
    top: 120px;
    
  }
}